/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
.env
.env.*
!.env.example
coverage/
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
