.env
.env.*
!.env.example
/vendor/
/node_modules/
/public/build/
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.tmp
*.swp
coverage/
dist/
